.DS_Store
node_modules
*.userprefs
*.swp
*.hash
.idea
.svn
NME.iml
out
target
tests/unit/build
tests/unit/report
tests/unit/src
tests/unit/test/ExampleTest.hx
tests/unit/test/TestMain.hx
tests/unit/test/TestSuite.hx
tests/unit/test/*/ExampleTest.hx
tests/unit/test/*/TestMain.hx
tests/unit/test/*/TestSuite.hx
tests/unit/test/*/*/ExampleTest.hx
tests/unit/test/*/*/TestMain.hx
tests/unit/test/*/*/TestSuite.hx
tools/*.n
docs/xml
docs/pages
haxedoc.xml
.temp
