.DS_Store
node_modules
*.userprefs
*.swp
*.hash
*.iml
.idea
.svn
.vscode
tests/unit/build
tests/unit/report
tests/unit/src
tests/unit/test/ExampleTest.hx
tests/unit/test/TestMain.hx
tests/unit/test/TestSuite.hx
tests/unit/test/*/ExampleTest.hx
tests/unit/test/*/TestMain.hx
tests/unit/test/*/TestSuite.hx
tests/unit/test/*/*/ExampleTest.hx
tests/unit/test/*/*/TestMain.hx
tests/unit/test/*/*/TestSuite.hx
tests/**/bin
dist
docs
docs-api
scripts/xml
scripts/*.n
haxedoc.xml
.temp
dump
*/dump/*
lib/_gen
lib-esm/_gen
test/**/bundle.js
npm-debug.log
*.map
*.tgz
bin/tools.js
*.bak
packages/*/lib
**/ExampleTest.hx
**/TestMain.hx
**/TestSuite.hx
**/test/index.js
**/.haxelib