.DS_Store
node_modules
*.userprefs
*.swp
*.hash
.idea
.svn
test/unit/build
test/unit/report
test/unit/src
test/unit/test/ExampleTest.hx
test/unit/test/TestMain.hx
test/unit/test/TestSuite.hx
test/unit/test/*/ExampleTest.hx
test/unit/test/*/TestMain.hx
test/unit/test/*/TestSuite.hx
test/unit/test/*/*/ExampleTest.hx
test/unit/test/*/*/TestMain.hx
test/unit/test/*/*/TestSuite.hx
dist
docs
scripts/xml
scripts/*.n
haxedoc.xml
.temp
dump
*/dump/*
lib/_gen
test/*/bundle.js
package-lock.json
npm-debug.log
*.map
*.tgz
bin/tools.js