body .navbar .brand:first-of-type {
	background: url(./images/logo.png) center left no-repeat;
	background-size: 227px 70px;
	padding-left: 240px;
	margin: 0.5em 0;
}

@media (min-resolution: 1.5x) {
	body .navbar .brand:first-of-type {
		background-image: url(./images/logo@2x.png);
	}
}

table td {
	vertical-align: top;
}