version: 2.1

executors:
  haxe-3.4:
    working_directory: /workspace/openfl/
    docker:
      - image: openfl/openfl-tests-unit-3.4:0.0.5
  npm:
    working_directory: /workspace/openfl/
    docker:
      - image: openfl/ci-openfl-js:0.0.3


commands:

  setup:
    description: "Setup build dependencies"
    steps:
     - checkout
     - run:
         name: Setup OpenFL Development Directory
         command: haxelib dev openfl .
     - run:
         name: Clone Lime (Master)
         command: if [[ $CIRCLE_BRANCH == 'master' ]]; then git clone -b master --single-branch --recursive https://github.com/openfl/lime ../lime --depth 1 ; fi
     - run:
         name: Clone Lime (Develop)
         command: if [[ $CIRCLE_BRANCH != 'master' ]]; then git clone -b develop --single-branch --recursive https://github.com/openfl/lime ../lime --depth 1 ; fi
     - run:
         name: Clone HXP
         command: git clone --single-branch --recursive https://github.com/openfl/hxp ../hxp --depth 1
     - run:
         name: Set HXP Development Directory
         command: haxelib dev hxp ../hxp
     - run:
         name: Set Lime Development Directory
         command: haxelib dev lime ../lime
     - run:
         name: Rebuild Lime Tools
         command: haxelib run lime rebuild tools -nocffi
     - run:
         name: Generate MUnit Test Runner
         working_directory: /workspace/openfl/test/unit
         command: haxelib run munit gen

  test-html5:
    description: "Test HTML5"
    steps:
     - run:
         name: Build Tests
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime build html5 -nocffi
     #- run:
         #name: Run Tests
         #command: haxelib run munit test -js -nocffi

  test-neko:
    description: "Test Neko"
    steps:
     - run:
         name: Rebuild HXCPP static libraries
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime rebuild hxcpp linux -static -release -64 -nocffi
     - run:
         name: Rebuild Lime Desktop Binary
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime rebuild linux -release -64 -nocffi
     - run:
         name: Run Tests (CFFI-enabled)
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime build neko -nocffi
     - run:
         name: Run Tests (CFFI-disabled)
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime build neko -Ddisable-cffi -nocffi

  test-cpp:
    description: "Test C++"
    steps:
     - run:
         name: Rebuild HXCPP static libraries
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime rebuild hxcpp linux -static -release -64 -nocffi
     - run:
         name: Rebuild Lime Desktop Binary
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime rebuild linux -release -64 -nocffi
     - run:
         name: Run Tests
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime test linux --window-hardware=false

  test-flash:
    description: "Test Flash"
    steps:
     - run:
         name: Build Tests
         working_directory: /workspace/openfl/test/unit
         command: haxelib run lime build flash -nocffi
     - run:
         name: Run Tests
         working_directory: /workspace/openfl/test/unit
         command: haxelib run munit test -as3 -norun -nocffi

  test-documentation:
    parameters:
      deploy:
        type: boolean
        default: false
    steps:
     - run:
         name: Clone Dox
         command: git clone https://github.com/openfl/dox ~/dox --depth 1
     - run:
         name: Set Dox Development Directory
         command: haxelib dev dox ~/dox
     - run:
         name: Generate Documentation
         command: cd scripts && haxe docs.hxml
     - run:
         name: Deploy
         command: |
            if [ "${CIRCLE_BRANCH}" == "develop" ]; then
              aws s3 sync docs-api s3://api.openfl.org --acl bucket-owner-full-control --acl public-read --size-only --delete --include="*" --cache-control max-age=864000
            else
              echo "Not on master (skipping step)"
            fi

  test-npm:
    steps:
     - run:
         name: Install Dependencies
         command: npm install
     - run:
         name: Build Library
         command: npm run build
     - run:
         name: Run Tests
         command: npm run test


jobs:

  HTML5 (Haxe 3.4.x):
    executor:
      name: haxe-3.4
    steps:
     - setup
     - test-html5

  Neko (Haxe 3.4.x):
    executor:
      name: haxe-3.4
    steps:
     - setup
     - test-neko

  C++ (Haxe 3.4.x):
    executor:
      name: haxe-3.4
    steps:
     - setup
     - test-cpp

  Flash (Haxe 3.4.x):
    executor:
      name: haxe-3.4
    steps:
     - setup
     - test-flash

  Documentation (Haxe 3.4.x):
    executor:
      name: haxe-3.4
    steps:
     - setup
     - test-documentation true

  NPM:
    executor:
      name: npm
    steps:
     - checkout
     - test-npm


  # This is used for local tests, it assumes you already have a working environment
  build:
    executor:
      name: haxe-3.4
    steps:
     - setup
     - test-html5
     - test-neko
     - test-cpp
     - test-flash
     - test-npm
     - test-documentation


workflows:

  version: 2

  NPM Tests:
    jobs:
     - NPM

  Tests (Haxe 3.4.x):
    jobs:
     - HTML5 (Haxe 3.4.x)
     - Neko (Haxe 3.4.x)
     - C++ (Haxe 3.4.x)
     - Flash (Haxe 3.4.x)
     - Documentation (Haxe 3.4.x)
