<widget defaultmode="application">
  <widgetname>::APP_TITLE::</widgetname>
  <description>::APP_DESCRIPTION::</description>
  <width>::if (WIN_WIDTH == "0")::800::else::::WIN_WIDTH::::end::</width>
  <height>::if (WIN_HEIGHT == "0")::500::else::::WIN_HEIGHT::::end::</height>
  <author>
    <name>::APP_COMPANY::</name>
    <!-- <email></email> -->
    <organization>::APP_COMPANY::</organization>
    <!-- <link></link> -->
  </author>
  <icon width="128" height="128">icon_128.png</icon>
  <icon width="64" height="64">icon_64.png</icon>
  <icon width="32" height="32">icon_32.png</icon>
  <icon width="16" height="16">icon_16.png</icon>
  <id>
    <host>::APP_PACKAGE_HOST::</host>
    <name>::APP_PACKAGE_NAME::</name>
    <revised>::REVISION_DATE::</revised>
  </id>
</widget>