name: CI
on: [push, pull_request]

jobs:

  unit-test:
    strategy:
      matrix:
        haxe-version: [3.4.7, 4.1.5]
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: ${{ matrix.haxe-version }}

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV

      - name: Install Haxe dependencies
        run: |
          haxelib install hxcpp --quiet
          haxelib install format --quiet
          haxelib install hxp --quiet
          haxelib install lime --quiet
          haxelib install utest --quiet

      - name: Setup environment
        run: |
          haxelib dev openfl $GITHUB_WORKSPACE

      - name: Install "openfl" command alias
        run: |
          haxelib run openfl setup -alias -y

      - name: Run tests on Neko
        run: |
          haxelib run hxp test -Dtarget=neko --install-hxp-alias

      - name: Run tests on HashLink
        if: ${{ matrix.haxe-version != '3.4.7' }}
        run: |
          haxelib run hxp test -Dtarget=hl --install-hxp-alias

  package-haxelib:
    runs-on: macos-10.15
    steps:

      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.1.5

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV

      - name: Install Haxe dependencies
        run: |
          haxelib install hxp --quiet

      - name: Rebuild OpenFL run.n
        working-directory: scripts
        run: |
          haxe run.hxml

      - uses: actions/upload-artifact@v3
        with:
          name: openfl-haxelib
          path: |
            ./
            !tests/
            !haxe-*-*/
            !neko-*-*/
            !.git/
          if-no-files-found: error

  docs:
    runs-on: macos-10.15
    steps:

      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.1.5

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV

      - name: Install Haxe dependencies
        run: |
          haxelib install hxcpp --quiet
          haxelib install format --quiet
          haxelib install hxp --quiet
          haxelib install lime 7.9.0 --quiet
          haxelib install dox --quiet
          haxelib dev openfl $GITHUB_WORKSPACE

      - name: Build docs
        working-directory: scripts
        run: |
          haxe docs.hxml

      - uses: actions/upload-artifact@v3
        with:
          name: openfl-docs
          path: docs
          if-no-files-found: error

  notify:
    runs-on: ubuntu-latest
    needs: [package-haxelib, docs, unit-test]
    if: ${{ github.repository == 'openfl/openfl' && github.event_name != 'pull_request' }}
    steps:
      - name: Notify Discord
        uses: nobrayner/discord-webhook@v1
        with:
          github-token: ${{ secrets.github_token }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
          include-details: 'false'
